body {
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: 5em;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    padding-top: 5rem;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}

.container > button {
    width: 100px;
    height: 100px;
    font-size: 80px;
}

.container > .bright {
    background-color: bisque;
}

.container > .dark {
    background-color: sienna;
}